body {
  margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    font-family: "Zalando Sans SemiExpanded";
    Font-weight: 400;
    margin: 10px;
    font-size: 20px;
}
.navbar a {
    display: block;
    text-decoration: none;
    color: #006241;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s;
}
.navbar img {
    width: 100px;
    color: white;
}
.navbar li:hover a {
    background-color: #006241;
    color: white;
}

.fourth_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}
.location_boxes {
    padding: 10px;
    margin: 10px auto;
    border: 3px solid #006241;
    width: 600px;
    border-radius: 30px;
    transition: all 0.3s ease;
    text-align: center;
}
.location_boxes:hover {
    background-color: #006241;
    color: white;
    transform: scale(1.1);
}
.location_boxes p {
    font-family: "Zalando Sans SemiExpanded";
    font-size: 18px;
}
#location_header {
    font-family: "Zalando Sans SemiExpanded";
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#robinsons {
    height: 100px;
}
.location_boxes img {
    width: 190px;
    height: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 5px;
    padding: 5px;
    display: none;
    transition: all 0.2s ease;
    position: fixed;
}
.location_boxes:hover img {
    display: block;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contacts_icon a, .copyright {
    color: #006241;
    text-decoration: none;
}
.contacts_icon {
    padding: 10px;
    transition: all 0.3s ease;
}
.copyright {
    font-family: "Zalando Sans SemiExpanded";
    font-size: 15px;
}
.contacts_icon:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
  .navbar ul {
      font-size: 16px;
  }
  .navbar img {
      height: auto;
      width: auto;
  }

  #location_header {
        font-size: 25px;
  }
  .fourth_section {
      flex-direction: column;
      margin-bottom: 10%;
  }
  .location_boxes {
      width: auto;
      height: auto;
      margin: 15px;
  }
  .location_boxes img {
      width: 150px;
  }
  .copyright {
      font-size: 16px;
  }
  footer {
      padding: 10px;
      margin: 10px;
      flex-direction: row;
  }
}